body {
  background-color: #FDEF96;
}

hr{
  border-style: none;
  border-top-style: dotted;
  height: 0px;
  width: 5%;
  border-color: grey;
  border-width: 5px;
}

h1{
  color: #AFA939;
}

h3{
  color: #AFA939;
}
